#frameArea {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #070600;
}

.movingIn {
    animation: 4s 1 alternate slidein;
}

@keyframes slidein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}