#timelineArea {
    align-items: center;
    overflow: scroll;
}

#timelinePhotosArea {
    padding: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-items: center;
    font-size: calc(10px + 2vmin);
    color: #070600;
}

#timelinePhotosArea img {
    border-bottom: 1px #000 solid;
}

@media (max-width: 1000px) {
    #timelinePhotosArea {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    #timelinePhotosArea {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    #timelinePhotosArea {
        grid-template-columns: repeat(1, 1fr);
    }
}