body {
    background-color: #000;
    margin: 0;
    width: 100%;
    overflow-y: hidden;
}

.App {
    text-align: center;
}

#mainArea {
    margin-top: 134px;
    padding-top: 15px;
    height: calc(100vh - 164px);
    overflow-y: scroll;
}

.mainHeading {
    width: 100%;
    text-align: center;
    height: 5vh;
}

.mainViewArea {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.movingIn {
    animation: 2s 1 alternate slidein;
}

@keyframes slidein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.Delivery span {
    color: #7EBDC2!important;
}

.Unknown span {
    color: #B3001B!important;
}

.Family span {
    color: #9BE564!important;
}

.Delivery {
    color: #7EBDC2!important;
}

.Unknown {
    color: #B3001B!important;
}

.Family {
    color: #9BE564!important;
}