@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
#header {
    top: 0;
    width: 80%;
    padding: 20px 10%;
    height: 90px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #000;
    position: fixed;
    user-select: none;
}

#logoHeader {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

#menuHeader {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

#logoImg {
    height: 100%;
    -webkit-filter: drop-shadow( 0px 0px 9.08px #FFFFFF);
    filter: drop-shadow( 0px 0px 9.08px #FFFFFF);
    padding-right: 10px;
}

.logoHead {
    border-right: 3px #000 solid;
}

.headerCurrentHeading {
    height: 100%;
    padding-left: 10px;
}

.menuSVG {
    height: 70px;
}

#closeButton {
    height: 6vh;
}

.headerButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    height: 70px;
}

.headerButtonContainer:hover {
    filter: drop-shadow(0px 0px 8.16px #FFFFFF);
    -webkit-filter: drop-shadow(0px 0px 8.16px #FFFFFF);
}

.headerButtonContainer span {
    vertical-align: middle;
    font-family: 'Unbounded', sans-serif;
    font-size: 15px;
    padding-left: 10px;
}

.ModalScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    margin: 0 auto;
    z-index: 2;
}

.Modal {
    background-color: #fff;
    width: 60%;
    position: absolute;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #1F2041;
    border-radius: 2%;
    padding: 2vmin;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    color: #000;
}

.headerStatus {
    -webkit-filter: drop-shadow( 0px 0px 20px #FFFFFF);
    filter: drop-shadow( 0px 0px 20px #FFFFFF);
    height: 15px;
}

.headerStatusContainer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.headerStatusSpan {
    font-family: 'Unbounded', sans-serif;
    font-size: 15px;
    color: #fff;
}

.headerStatusSpan.good {
    /* color: #9BE564; */
}

.headerStatusSpan.bad {
    /* color: #B3001B; */
    text-decoration: #B3001B line-through;
}

.headerStatusSpan2 {
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    line-height: 10px;
}

.headerStatusSpan2.good {
    color: #9BE564;
}

.headerStatusSpan2.bad {
    color: #B3001B;
    /* text-decoration: #B3001B line-through; */
}

.headerStatusPtsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 1000px) {
    #header {
        justify-content: center;
    }
    #logoHeader {
        display: none;
    }
    #menuHeader {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .headerButtonContainer span {
        display: none;
    }
}