.frame {
    background-color: #d9d9d9;
    height: 480px;
    width: 640px;
    border-radius: 10px;
    border: 5px solid #1F2041;
    margin-bottom: 30px;
    overflow: hidden;
    user-select: none;
    /* animation: 4s 1 alternate slidein; */
}

.frame-Unknown {
    border: 5px solid #BF3100;
}

.frame-Family {
    border: 5px solid #8EA604;
}

.frame-Delivery {
    border: 5px solid #1F2041;
}

@keyframes slidein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}