.frame {
    background-color: #000;
    width: 640px;
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
}

.frame-Unknown {
    border: 6px solid #a6254c;
}

.frame-Family {
    border: 6px solid #9BE564;
}

.frame-Delivery {
    border: 6px solid #A8F9FF;
}

@keyframes slidein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@media (max-height: 800px) {
    .frame {
        width: 600px;
    }
}