@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
#setupArea {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #070600;
    overflow-y: none;
    /* margin-top: 30px; */
}

#setupContainer {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

.memberName {
    color: #fff;
}

.setupHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100px;
    border: 5px solid #fff;
    padding: 0 20px;
}

.memberHeaderName {
    width: 33%;
    text-align: center;
    color: #fff;
    font-family: 'Unbounded', cursive;
    font-size: 30px;
}

.memberHeaderDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 33%;
}

#backButton {
    height: 30px;
    width: auto;
    cursor: pointer;
}

.backButtonContainer {
    display: flex;
    width: 33%;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
}

.backButtonHelp {
    color: #fff;
    font-family: 'Unbounded', cursive;
    font-size: 15px;
}

.backButtonComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 50%; */
    /* background-color: #fff; */
}

.backButtonContainer:hover {
    -webkit-filter: drop-shadow( 0px 0px 6px #9be564);
    filter: drop-shadow( 0px 0px 6px #9be564);
    cursor: pointer;
}

.setupHeader {
    color: #fff;
    font-family: 'Unbounded', cursive;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.setupFormContainer {
    flex: 1;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.formOptionContainer {
    /* width: 80%; */
    height: 60px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.formOptionLabel {
    line-height: 60px;
    width: 120px;
    padding: 0 15px;
    background-color: #fff;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
}

input {
    height: 60px;
    padding: 15px 15px;
    width: 400px;
    flex-grow: 1;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.33rem;
    /* margin-bottom: 2rem; */
    font-family: 'Unbounded', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: #fff 3px solid;
    box-sizing: border-box;
}

input:focus {
    /* color: #fff; */
    /* border: #9BE564 3px solid; */
    -webkit-filter: drop-shadow( 0px 0px 10px #FFFFFF);
    filter: drop-shadow( 0px 0px 10px #FFFFFF);
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    width: 100%;
    height: 80px;
    cursor: pointer;
    font-family: 'Unbounded', sans-serif;
    font-size: 25px;
}

.addtofamilyButton {
    width: 60px;
}

.addtofamilyHelp {
    font-family: 'Unbounded', cursive!important;
}

.addMemberContainer {
    width: 241px;
}

.setupFormHeader {
    font-family: 'Unbounded', sans-serif;
    font-size: 25px;
    color: #fff;
    margin-top: 10px;
}

.setupFormSubHeader {
    font-family: 'Unbounded', sans-serif;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
}

.setupFormSubHeader.good {
    color: #9BE564;
}

.setupFormSubHeader.bad {
    color: #B3001B;
    /* text-decoration: #B3001B line-through; */
}

img {
    max-width: 100%;
    max-height: 100%;
}

@keyframes slidein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes bounce {
    from {
        font-size: 24px;
        line-height: 26px;
    }
    to {
        font-size: 26px;
        line-height: 26px;
    }
}